/build/*.nlp
/build/*.pdb
/cache_redis/obj
/cache_redis/.vs
/.vs
/studio-redis/bin
/studio-redis/obj
*.conf
/cache_redis/bin
/cachekv/obj
/cachekv/bin
/debug/*.pdb
/debug/txt-full.rar
/jobs_sql/bin
/jobs_sql/obj
/job_build/jobs_sql.pdb
/job/bin
/job/obj
/job_build/*.pdb
/ckv/bin
/ckv/obj
/ckv_build/*.pdb
/ckv4/obj
/ckv4/bin
/ckv_aspnet/bin/roslyn
